/*
 * @file
 * CSS file to design block.
 */

#block-googleplusfeedblock a {
	text-decoration: none;
	border-bottom: none;
}

#block-googleplusfeedblock li {
	list-style-type: none;
	margin-left: -15px;
	padding-top: 15px;
}
